*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before, :after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{
	font-family: 'Arvo', serif;
	font-weight: 500;
	color: rgb(68, 66, 66);
}
h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 70px;
	color: rgba(255, 255, 255, 1);
}
h2 {
	font-size: 35px;
	line-height: 55px;
	color: rgba(255, 255, 255, 1);
}
h3 {
	font-size: 27px;
	line-height: 40px;
}
h4 {
	font-size: 22px;
	line-height: 35px;
}
p {
	font-size: 16px;
	font-family: 'Arvo', serif;
	line-height: 40px;
	color: rgb(138, 136, 136);
}

.container {
	position: relative;
	margin: 0 auto;
	background: url(../img/bg.png) 0 0 no-repeat fixed ;
	background-size: cover;
}

header {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	max-height: max-content;
	padding: 20px 0;
	width: 70vw;
	max-width: 1400px;
	margin: 0 auto;
}
.header__logo {
	color: rgba(255, 255, 255, 0.7);
}
.logo {
	font-size: 100px;
	font-family: 'Monda', sans-serif;
}
.logo:hover {
	color: rgba(134, 129, 129, 0.7);
}
.header__nav {
	display: flex;
}
.header__nav__link {
	font-size: 20px;
	font-family: 'Arvo', serif;
	color: rgba(255, 255, 255, 0.7);
	margin: 0 25px;
	padding: 5px 0;
}
.header__nav__link:hover {
	color: rgba(134, 129, 129, 0.7);
}
.header__burger {
	display: none;
}

.banner {
	position: relative;
	min-height: 40vh;
	max-height: max-content;
	padding: 20px 0;
	width: 100vw;
	margin: 0 auto;
}
.banner__slide {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
}
.banner__slide__text {
	margin-bottom: 40px;
}
.banner__slide__button {
	font-size: 20px;
	font-family: 'Arvo', serif;
	color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(65, 63, 63, 0.7);
	border-radius: 4px;
	padding: 10px 25px;
	background: rgba(41, 111, 78, 0.9);
}
.banner__slide__button:hover {
	background-color: rgba(40, 156, 102, 0.9);
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.banner .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	margin: -50px 110px 0;
	width: 50px;
	height: 50px;
}
.banner .slick-arrow.slick-arrow.slick-prev {
	left: 0;
	background: url('../img/icons/arrowleft.png') 0 0 / 100% no-repeat;
}
.banner .slick-arrow.slick-arrow.slick-next {
	right: 0;
	background: url('../img/icons/arrowright.png') 0 0 / 100% no-repeat;
}
.banner .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner .slick-dots li{
	list-style: none;
	margin: 5px 25px;
}
.banner .slick-dots li.slick-active button{
	background-color: rgba(255, 255, 255, 1);
}
.banner .slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.main-info {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	background-color: rgba(255, 255, 255, 1);
}
.main-info__slide {
	position: relative;
	width: 60vw;
	max-width: 1100px;
	margin: 0 auto;
	padding: 40px 40px 20px;
	display: none;
	border: 1px solid rgba(77, 75, 75, 0.5);
	border-top: none;
}
.main-info__slide h2 {
	color: rgba(68, 66, 66, 1);
	margin-bottom: 20px;
}
.main-info__slide p {
	margin-bottom: 20px;
}
.main-info__slide p:last-child {
	margin: 0;
}

[name=slider-article] {
	display: none;
}
.slider__control {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	width: 60vw;
	max-width: 1100px;
	margin: 0 auto;
}
.slider__control img {
	width: 120px;
}
label {
	padding: 20px;
	border-bottom: 1px solid rgba(77, 75, 75, 0.5);
}
.slider__control label {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
	text-align: center;
	cursor: pointer;
}
article img {
	width: 70%;
	margin-bottom: 20px;
	max-width: initial;
}
input[type=radio]:checked + .main-info__slide {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
	transition: opacity 3s ease-in-out;
}
#slide1:checked ~ .slider__control #l1,
#slide2:checked ~ .slider__control #l2,
#slide3:checked ~ .slider__control #l3,
#slide4:checked ~ .slider__control #l4 {
	border: 1px solid rgba(77, 75, 75, 0.5);
	border-bottom: none;
}

.promo {
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px 0;
}
.subpromo {
	display: flex;
	justify-content: space-between;
	min-height: max-content;
	width: 70vw;
	max-width: 1100px;
	margin: 0 auto;
}
.promo__item li{
	position: relative;
}
.promo__item p {
	line-height: 50px;
	padding-left: 30px;
}
.promo__item li::before{
	content: url(../img/icons/mark.png);
	position: absolute;
	top: 30%;
}

.feedback {
	position: relative;
	background-color: rgba(255, 255, 255, 1);
}
.feedback-main {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 auto;
	max-height: max-content;
	width: 70vw;
	max-width: 1100px;
	margin: 0 auto;
}
.feedback__log {
	min-width: 25vw;
	max-width: max-content;
	max-height: max-content;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 10px;
	background: rgba(230, 118, 36, 1);
}
.feedback__log input {
	font-size: 15px;
	width: 150px;
	padding: 5px 15px;
	margin: 0 5px 5px 0;
}
.feedback__mail {
	min-width: 25vw;
	max-width: max-content;
	max-height: max-content;
	border-radius: 5px;
	padding: 20px 20px;
	margin: 20px 10px;
	background: rgba(1, 212, 243, 1);
}
.feedback__mail input {
	font-size: 15px;
	width: 255px;
	padding: 5px 15px;
	margin: 0 5px 5px 0;
}
.feedback h4{
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 10px;
}
.feedback button {
	font-size: 15px;
	padding: 5px 15px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(68, 68, 68, 1);
}
.feedback button:hover {
	background-color: rgba(124, 119, 119, 1);
}

footer {
	background: url(../img/bgfooter.png) 50% no-repeat;
	background-size: cover;
}
.subfooter {
	display: flex;
	justify-content: space-between;
	min-height: max-content;
	padding: 20px 0;
	width: 70vw;
	max-width: 1400px;
	margin: 0 auto;
}
.footer__item ul a{
	font-size: 16px;
	font-family: "UniversCE", sans-serif;
	line-height: 30px;
	color: rgb(138, 136, 136);
}
.footer__item h4 {
	color: rgba(255, 255, 255, 1);
	margin: 0 0 15px 0;
}
.footer__item a {
	color: rgba(138, 136, 136, 1);
}
.footer__item li a:hover {
	color: rgba(255, 255, 255, 1);
}
.footer__item__text {
	width: 35vh;
}
.footer__item__sign {
	color: rgba(255, 255, 255, 1);
}
.footer__logo {
	color: rgba(255, 255, 255, 0.5);
}